body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
}

.logo{
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

#cabecera{
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 15px;
}
.span-cab{
  color: #f30d0d;
  padding-right: 10px;
}

.p2{
  color: peru;
}

.p3{
  color: green;
}

#footer{
  text-align: center;
  color: #eff30d;
  background-color: #FF0000;
  border: 1px solid white;
}

.container-images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  border: 1px solid red;
}

.container-images div {
  background-color: brown;
  width: 40%;
  min-height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-images img{
  border-radius: 20%;
  width: 150px;
  height: 150px;
  padding: 15px;
}